<div>
    <div class="page-header page-header-fixed">
        <div class="container">
            <h4>About</h4>
        </div>
    </div>
    <div class="page-body" page-body>
        <p>A simple webapp to keep score for disc golf</p>
        <p class="view"><a href="https://github.com/cyndilou/DiscGolfScoreKeeper">View the Project on GitHub</a> 
            <small>cyndilou/DiscGolfScoreKeeper</small>
        </p>
    </div>
    
    <div class="page-footer">
        <p>This project is maintained by <a href="https://github.com/cyndilou">cyndilou</a></p>
    </div>
</div>