<div>
    <div class="page-header">
        <h4>{{course.name}} <small>Hole {{holeNumber}}</small></h4>

        <div class="my-table">
            <div class="my-row">
                <div class="my-cell">
                    <label class="control-label" for="par">Par</label>
                </div>
                <div class="my-cell">
                    <input type="text" class="form-control" id="par" style="width:50px" 
                           ng-model="currentHole.par"
                           ng-change="updateHole()">
                </div>

                <div class="my-cell">
                    <label class="control-label" for="distance">Distance</label>
                </div>
                <div class="my-cell">
                    <div class="input-group" style="width:100px">
                        <input type="text" class="form-control" id="distance"  
                               ng-model="currentHole.distance"
                               ng-blur="updateHole()">
                        <span class="input-group-addon">ft</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="page-body" page-body>
        <h4>Scores 
            <small><a class="pull-right" href="#/games/{{game._id}}">Game Overview</a></small>
        </h4>
        <div class="list-group">
            <div class="list-group-item" ng-repeat="dataObject in basketData | orderBy: 'lastHoleScore'">
                <p>
                    <strong>{{dataObject.player.name}}</strong>
                    <span class="badge pull-right">Total: {{dataObject.totalScore}}</span>
                </p>
                <div style="width: 100%;overflow: auto;">
                    <div class="btn-group" data-toggle="buttons">
                        <label class="btn btn-default" 
                               ng-class="{'btn-active btn-success active' : dataObject.currentHoleScore.score == value}"
                               ng-repeat="value in scoreOptions" 
                               ng-click="setPlayerScore(dataObject, value)" 
                               resize-parent>
                            <input type="radio" name="options" autocomplete="off">{{value}}
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="page-footer">
        <button class="btn btn-success btn-lg pull-right pager-btn" 
                ng-click="nextHole()" 
                ng-hide="holeNumber == Object.keys(holes).length"
                ng-disabled="!isHoleComplete()">
            Next&nbsp;
            <span class="fa fa-chevron-right"></span>
        </button>
        <button class="btn btn-success btn-lg pull-left pager-btn" ng-click="previousHole()" ng-disabled="holeNumber == 1">
            <span class="fa fa-chevron-left"></span>
            &nbsp;Previous
        </button>
        <button class="btn btn-success btn-lg pull-right pager-btn" 
                ng-click="gameOver()" 
                ng-show="holeNumber == Object.keys(holes).length"
                ng-disabled="!isHoleComplete()">
            Done!
        </button>
    </div>
</div>