<div>
    <div class="page-header">
        <h3>{{course.name}}</h3>
    </div>
    <div class="fixed-height">
<!--
        <div class="list-group">
            <div class="list-group-item" ng-repeat="course in courseList">
                {{course.name}}
                <button class="transparentButton pull-right">
                    <span class="fa fa-pencil"></span>
                </button>
            </div>
        </div>
-->
    </div>

    <br>

<!--
    <div class="footer">
        <button class="btn btn-block btn-lg btn-success" ng-click="addCourse()">Add Course</button>
    </div>
-->
</div>