<div>
    <div class="page-header">
        <h4>Courses</h4>
    </div>
    <div class="page-body" page-body>
        <div class="list-group">
            <div class="list-group-item" ng-repeat="course in courseList | orderBy:'name'" expand-collapse-icon>

                <button class="transparentButton" type="button" data-toggle="collapse" data-target="#collapseExample-{{$index}}" aria-expanded="false" ng-click="loadCourse(course._id)">
                    <span class="fa"></span>
                    {{course.name}}
                </button>

                <button class="transparentButton pull-right" ng-click="editCourse(course._id)">
                    <span class="fa fa-pencil"></span>
                </button>

                <div class="collapse" id="collapseExample-{{$index}}" style="margin-top:10px">
                    <div class="table-responsive">
                        <table class="table table-bordered table-condensed">
                            <thead>
                                <tr>
                                    <th class="tableInfoCell">Hole</th>
                                    <th class="tableInfoCell" ng-repeat="hole in courses[course._id].holes">{{hole.holeNumber}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="tableInfoCell">Par</td>
                                    <td ng-repeat="hole in courses[course._id].holes">{{hole.par}}</td>
                                </tr>
                                <tr>
                                    <td class="tableInfoCell">Feet</td>
                                    <td ng-repeat="hole in courses[course._id].holes">{{hole.distance}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <button class="btn btn-danger btn-block" ng-click="deleteCourse(course)">
                        <span class="fa fa-trash"></span>
                        Delete
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="page-footer">
        <button class="btn btn-block btn-lg btn-success" ng-click="addCourse()">Add Course</button>
    </div>
</div>