<div>
    <form action="javascript:void(0);">
        <div class="page-header page-header-fixed">
            <div class="container">
                <div ng-class="{'has-error':course.name == ''}">
                    <h4><small>Course Name:</small></h4>
                    <input id="courseName" name="courseName" type="text" class="form-control" placeholder="Course Name" 
                           ng-model="courses[courseId].course.name" 
                           ng-change="courses[courseId].course.dirty = true;"
                           show-focus="true">
                </div>
            </div>
        </div>

        <div class="page-body" page-body>
            <h4><small>Hole Count:</small></h4>
            <div class="input-group" ng-class="{'has-error':courses[courseId].holes.length <= 0}">
                <input type="number" min="1" max="100" class="form-control" placeholder="Hole Count" aria-describedby="holeCount"
                       ng-model="courses[courseId].holeCount" ng-change="holeCountChanged(courseId)">
                <span class="input-group-addon" id="holeCount">holes</span>
            </div>

            <h4><small>Hole Details:</small></h4>

            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th class="tableInfoCell" style="width:50px"><small>Hole</small></th>
                            <th class="tableInfoCell"><small>Feet</small></th>
                            <th class="tableInfoCell"><small>Par</small></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="hole in courses[courseId].holes" ng-hide="hole.isActive == false">
                            <td class="tableInfoCell"><small>{{hole.holeNumber}}</small></td>
                            <td>
                                <input type="text" pattern="\d*"  class="form-control" placeholder="feet" ng-model="hole.distance" ng-change="hole.dirty = true;">
                            </td>
                            <td>
                                <input type="text" pattern="\d*"  class="form-control" placeholder="par" ng-model="hole.par" ng-change="hole.dirty = true;">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="page-footer">
            <div class="btn-group btn-group-justified" role="group">
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-default btn-lg" ng-click="cancel()">
                        <span class="fa fa-close"></span>
                        Cancel
                    </button>
                </div>
                <div class="btn-group" role="group">
                    <button type="button" type="submit" class="btn btn-success btn-lg" 
                            ng-click="save()"
                            ng-disabled="courses[courseId].course.name == '' || courses[courseId].holeCount <= 0">
                        <span class="fa fa-check"></span>
                        Done
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>