<div class="overlay cssFade" ng-hide="games[gameId] !== undefined && courses[games[gameId].game.course_id] !== undefined"></div>
<div>
    <div class="page-header page-header-fixed">
        <div class="container">
            <h4>{{courses[games[gameId].game.course_id].course.name}} <small>{{games[gameId].game.date | date:'EEEE, M/d/yy h:mm a'}}</small></h4>
        </div>
    </div>

    <div class="page-body" page-body style="padding-top:40px">
        <div class="table-responsive">
            <table class="table table-bordered">
                <colgroup>
                    <col class="skinnyColumn centerText">
                    <col class="skinnyColumn centerText">
                    <col class="skinnyColumn centerText">
                    <col class="centerText">
                </colgroup>
                <thead>
                    <tr>
                        <th class="tableLabelCell skinnyColumn centerText"><small>Hole</small></th>
                        <th class="tableLabelCell skinnyColumn centerText"><small>Feet</small></th>
                        <th class="tableLabelCell skinnyColumn centerText"><small>Par</small></th>
                        <th class="tableLabelCell centerText" ng-repeat="gamePlayer in games[gameId].playerScores | orderBy:'totalScore'">{{gamePlayer.player.name}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="hole in courses[games[gameId].game.course_id].holes">
                        <td class="tableLabelCell skinnyColumn centerText"><small>{{hole.holeNumber}}</small></td>
                        <td class="tableLabelCell skinnyColumn centerText"><small>{{hole.distance}}</small></td>
                        <td class="tableLabelCell skinnyColumn centerText"><small>{{hole.par}}</small></td>
                        <td class="centerText" ng-repeat="gamePlayer in games[gameId].playerScores | orderBy:'totalScore'">
                            {{gamePlayer.scoresByHole[hole._id].value}}
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <td class="tableLabelCell skinnyColumn centerText"><small>Total</small></td>
                    <td class="tableLabelCell skinnyColumn centerText"><small>{{getTotalDistance(games[gameId].game.course_id)}}</small></td>
                    <td class="tableLabelCell skinnyColumn centerText"><small>{{getTotalPar(games[gameId].game.course_id)}}</small></td>
                    <td class="centerText" ng-repeat="gamePlayer in games[gameId].playerScores | orderBy:'totalScore'">
                        {{calculatePlayerScore(gamePlayer.scoresByHole, courses[games[gameId].game.course_id].holes)}}
                    </td>
                </tfoot>
            </table>
        </div>
    </div>

    <div class="page-footer">
        <button class="btn btn-block btn-lg btn-success" onClick="location.href='#/new-game'" ng-show="isGameOver(gameId)">Play Again</button>
        <button class="btn btn-block btn-lg btn-success" ng-click="resumeGame()" ng-class="{'hidden':isGameOver(gameId)}">Resume</button>
    </div>
</div>