<div>
    <div class="page-header page-header-fixed">
        <div class="container">
            <h4>Games</h4>
        </div>
    </div>
    <div class="page-body" page-body>
        <div class="list-group">
            <div class="list-group-item" ng-repeat="game in gameList | orderBy:'date'" expand-collapse-icon>
                <div class="overlay cssFade" ng-hide="courses[game.course_id] !== undefined"></div>

                <button class="transparentButton" type="button" data-toggle="collapse" data-target="#collapseExample-{{$index}}" aria-expanded="false" ng-click="loadGame(game._id)">
                    <span class="fa"></span>
                    {{courses[game.course_id].course.name}} <small>{{game.date | date:'short'}}</small>
                </button>

                <div class="collapse" id="collapseExample-{{$index}}" style="margin-top:10px; position:relative">
                    <div class="overlay cssSlowFade" ng-hide="games[game._id] !== undefined"></div>
                    <div class="table-responsive">
                        <table class="table table-bordered table-condensed">
                            <thead>
                                <tr>
                                    <th class="tableLabelCell"></th>
                                    <th class="tableLabelCell centerText" style="max-width:50px">Total</th>
                                    <th class="tableLabelCell centerText" ng-repeat="hole in courses[game.course_id].holes">
                                        {{hole.holeNumber}}
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="tableLabelCell">Par</td>
                                    <td class="tableLabelCell centerText">{{getTotalPar(game.course_id)}}</td>
                                    <td class="tableLabelCell centerText" ng-repeat="hole in courses[game.course_id].holes">
                                        {{hole.par}}
                                    </td>
                                </tr>
                                <tr ng-repeat="gamePlayer in games[game._id].playerScores | orderBy:'totalScore'">
                                    <td class="tableLabelCell">{{gamePlayer.player.name}}</td>
                                    <td class="centerText">{{calculatePlayerScore(gamePlayer.scoresByHole, courses[game.course_id].holes)}}</td>
                                    <td class="centerText" ng-repeat="hole in courses[game.course_id].holes">
                                        {{gamePlayer.scoresByHole[hole._id].value}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <button class="btn btn-danger btn-block" ng-click="deleteGame(game)">
                        <span class="fa fa-trash"></span>
                        Delete
                    </button>

                    <button class="btn btn-success btn-block"  ng-hide="isGameOver(game._id)" ng-click="resumeGame(game._id)">
                        <span class="fa fa-play"></span>
                        Resume
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>