<div>
    <div class="page-header">
        <h4>Games</h4>
    </div>
    <div class="page-body" page-body>
        <div class="list-group">
            <!-- todo: order the list by game date.  See http://justinklemm.com/angularjs-filter-ordering-objects-ngrepeat/ -->
            <div class="list-group-item" ng-repeat="game in gameList" expand-collapse-icon>

                <button class="transparentButton" type="button" data-toggle="collapse" data-target="#collapseExample-{{$index}}" aria-expanded="false">
                    <span class="fa"></span>
                    {{getCourse(game.courseId).name}} <small>{{game.date | date:'short'}}</small>
                </button>

                <div class="collapse" id="collapseExample-{{$index}}" style="margin-top:10px">
                    <div class="table-responsive">
                        <table class="table table-bordered table-condensed">
                            <thead>
                                <tr>
                                    <th class="tableInfoCell"></th>
                                    <th class="tableInfoCell" style="max-width:50px">Total</th>
                                    <th class="tableInfoCell" ng-repeat="hole in getHoleList(game.courseId)">{{hole}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="tableInfoCell">Par</td>
                                    <td class="tableInfoCell">{{getTotalPar(game.courseId)}}</td>
                                    <td class="tableInfoCell" ng-repeat="hole in getHoleList(game.courseId)">{{getHolePar(game.courseId, hole)}}</td>
                                </tr>
                                <tr ng-repeat="player in getPlayerList(game.id)">
                                    <td>{{player.name}}</td>
                                    <td>{{player.totalScore}}</td>
                                    <td ng-repeat="hole in getHoleList(game.courseId)">{{getPlayerScore(game.id, player.id, hole)}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <button class="btn btn-danger btn-block" ng-click="deleteGame(game.id)">
                        <span class="fa fa-trash"></span>
                        Delete
                    </button>

                    <button class="btn btn-success btn-block" ng-hide="isGameOver(game.id)" ng-click="resumeGame(game.id)">
                        <span class="fa fa-play"></span>
                        Resume
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>