<div class="container verticalCenter">
    <div class="row">
        <div class="col-md-4 col-xs-6 col-md-offset-2">
            <div class="squareContainer">
                <div class="dummy"></div>
                <button class="btn btn-success btn-lg element"
                        onClick="location.href='#/new-game'">
                    <span class="fa fa-play fa-3x"></span>
                    <br>New Game
                </button>
            </div>
        </div>
        <div class="col-md-4 col-xs-6">
            <div class="squareContainer">
                <div class="dummy"></div>
                <button class="btn btn-success btn-lg element"
                        onClick="location.href='#/game-history'">
                    <span class="fa fa-history fa-3x"></span>
                    <br>Game History
                </button>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-4 col-xs-6 col-md-offset-2">

            <div class="squareContainer">
                <div class="dummy"></div>
                <button class="btn btn-success btn-lg element"
                        onClick="location.href='#/players'">
                    <span class="fa fa-users fa-3x"></span>
                    <br>
                    Players
                </button>
            </div>
        </div>
        <div class="col-md-4 col-xs-6">
            <div class="squareContainer">
                <div class="dummy"></div>
                <button class="btn btn-success btn-lg element"
                        onClick="location.href='#/courses'">
                    <span class="fa fa-map-marker fa-3x"></span>
                    <br>
                    Courses
                </button>
            </div>
        </div>
    </div>
</div>