<div>
    <div class="page-header page-header-fixed">
        <div class="container">
            <h4>New Game</h4>
        </div>
    </div>
    <div class="page-body" page-body>
        <div class="panel panel-default">
            <div class="panel-heading">Course</div>
            <div class="panel-body">

                <div ng-class="{'has-error':selectedCourseId === undefined}">
                    <select class="form-control" 
                            ng-model="selectedCourseId"
                            show-focus="courseList.length"
                            ng-options="course._id as course.name for course in courseList | orderBy:'name'">
                        <option value="" disabled>-- select course --</option>
                    </select>
                </div>
                
                <hr>
                
                <button class="btn btn-default btn-block"
                        ng-hide="addCourseMode"
                        ng-click="addCourseMode = true;">
                    Add Course
                </button>

                <form action="javascript:void(0);" ng-show="addCourseMode">
                    <div class="input-group topMargin">
                        <input type="text" class="form-control" placeholder="New Course" ng-model="newCourseName"
                               show-focus="addCourseMode === true">

                        <div class="input-group-btn" data-toggle="buttons">
                            <button class="btn btn-success" type="submit" ng-click="addCourse()" ng-disabled="newCourseName == ''">
                                <span class="fa fa-plus"></span>
                            </button>
                        </div>
                    </div>

                    <div class="btn-group btn-group-justified topMargin" role="group" data-toggle="buttons">
                        <label class="btn btn-default active" ng-click="newCourseHoleCount = 9">
                            <input type="radio" name="holeCount" value="9"> 9 Holes
                        </label>

                        <label class="btn btn-default" ng-click="newCourseHoleCount = 18">
                            <input type="radio" name="holeCount" value="18"> 18 Holes
                        </label>
                    </div>
                </form>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">Players</div>
            <div class="panel-body">
                <div class="list-group">
                    <div class="list-group-item checkbox" ng-repeat="player in playerList | orderBy:'name'" 
                         ng-class="{'list-group-item-success' : selectedPlayers.indexOf(player._id) > -1}">
                        <label style="width:100%">
                            <input
                                   type="checkbox"
                                   name="selectedPlayers[]"
                                   value="{{player.name}}"
                                   ng-checked="selectedPlayers.indexOf(player._id) > -1"
                                   ng-click="toggleSelection(player)"
                                   > {{player.name}}
                        </label>
                    </div>
                </div>
                
                <hr>
                
                <form action="javascript:void(0);">
                    <div class="input-group">
                        <input type="text" class="form-control" ng-model="newPlayerName" placeholder="New Player Name">
                        <span class="input-group-btn">
                            <button class="btn btn-success" type="submit" ng-click="addNewPlayer()" ng-disabled="newPlayerName == ''">
                                <span class="fa fa-plus"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="page-footer">
        <button class="btn btn-block btn-lg btn-success" ng-click="onStartGame()" ng-disabled="selectedCourseId === undefined || selectedPlayers.length == 0">
            <span class="fa fa-play"></span>
            Play
        </button>
    </div>
</div>

